*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'header header header header header'
    'sidebar main main main main'
    'footer footer footer footer footer'
    ;
    
 
}
.container div{
   
    background-color: red;
    margin: 2px;
}

.item1{
   grid-area: header;
}
.item2{
    grid-area: sidebar;
}
.item3{
    grid-area: main;
}
.item4{
   grid-area: footer;
}



