*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 40px;
}
.container{
    display: grid;
    grid-template-columns: [sutun1] 50px [sutun2] 50px [sutun3] 50px [sutun4];
    grid-template-rows:[satir1] 25px [satir2] 25px [satir3] ;
    gap: 5px;
    
    
}
.item{
    display: flex;
    background-color: gray;
    color: black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.item-a{
    grid-column: sutun1/sutun3;
    grid-row: satir1;
}

.item-b{
    grid-column: sutun3;
    grid-row: satir1/satir3;
}

.item-c{
    grid-row:satir2 ;
    grid-column: sutun1;
}

.item-d{
    grid-row: satir2;
    grid-column: sutun2;
}


